@using Assignment_Wt1_Oauth.Models
@model UserProfile

<div class="container container--column">
    <div class="row row--left">
        <div class="avatar-wrapper avatar-wrapper--l">
            <img src="@Model.avatar_url" alt="Profile avatar" />
        </div>
        <div class="container container--column">
            <h2>Name: @Model.name</h2>
            <h2>Username: @Model.username</h2>
            <h2>User-id: @Model.id</h2>
            <h2>Email: @Model.email</h2>
            <h2>Last activity: @Model.last_activity_on</h2>
        </div>
    </div>
</div>